body{
	padding:0;
	margin: 0;
}
@font-face {
	font-family: "NerisBlack";
	src: url("../assets/Neris-Black.otf") format("opentype");
}

.box {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1{
	font-size: 60px;
	font-family: "NerisBlack";
	text-align: center;
}
